@viewport {width: device-width; scale: 1;}
@-ms-viewport {width: device-width; scale: 1;}
@-moz-viewport {width: device-width; scale: 1;}
@-o-viewport {width: device-width; scale: 1;}
@-webkit-viewport {width: device-width; scale: 1;}

html {
	margin: 0;
	padding: 0;

	background-image: url(../img/textured_paper.png);
	font: normal 100%/1.5 sans-serif;
}

body {
	margin: 0;
}

.logo {
	float: left;
	padding: .5rem;

}

.media-btn {
	float: right;
}

.masthead {
	background-color: #000;

	overflow: hidden;
}

.media-btn img {
	display: block;
	width: 2.5rem;
}

@media only screen and (min-width: 25em){

	.media-btn img {
		display: inline-block;
		padding: .5rem;
		margin-top: 2.5rem;
	}

}

@media only screen and (min-width: 40em) {

	.masthead {
		position: fixed;
		width: 100%;
	}

}

.content {
	background-color: rgba(255,255,255,.25);
	clear: both;

	margin-top: 1000px;
	padding: 10px;

	border-radius: 10px;
	box-shadow: 5px 5px 20px rgba(0, 0, 0, .25);
	color: #000;
}

@media only screen and (min-width: 45em){
	.content {
		float: right;
		position: absolute;
		width: 30%;
		bottom: -3%;
		right: 5%;
	}
}

.content p {
	margin-top: 0;
}
